{% for item in items %}
<div class="feature big sortable" style="margin: 5px 0px;" data-name="{{item.name}}">
    <div class="flex-row flex-between">
        <div class="click-to-display title" data-id="{{item.name}}.display" style="width: 90%;">
            {{item.name}}
        </div>
        <div>
            <button name="button" value="{{loop.index}}.add-exsisting-item">add this item</button>
        </div>
    </div>
    <div class="display hidden flex-row" data-id="{{item.name}}.display" style="width: 90%;">
        <div class="flex-column" style="width: 20%;">
            {% for attrib in item %}
            {% if attrib not in ["text","name","amount","type"] %}
            <span>{{attrib}} : {{item[attrib]}}</span>
            {% endif %}
            {% endfor %}
        </div>
        <div class="devider"></div>
        <div style="width: 79%;">
            {{item.text}}
        </div>
    </div>
    <div>
    </div>
</div>
{% endfor %}